{% extends "index.html" %}

{% block content %}
    <h1>Add A Blog Entry</h1>
    <form method='post'>
        <label>
            Build A Blog:
            <input type="text" name="title" value="" />
        </label>
        <span>
            {{title_error}}
        </span>
<br>
        <label>
            Your new entry:
            <textarea name="body" value="textarea"></textarea>
        </label>
        <span class=error>
            {{body_error}}
        </span>
        <input type="submit" value="Add Entry" />
        </label>
    </form>

    
{% endblock %}